/* RESET */

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: #343434;
}

body {
  font-family: 'Heebo', sans-serif;
}

.logo {
  transition: width 0.6s, height 0.6s;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo:hover {
  width: 225px;
  height: 225px;
}

.youtube {
  margin-bottom: 28px;
  transition: width 0.6s, height 0.6s;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 50%;
  background-color: #dd1818;
  width: 480px;
  height: 70px;
}

.youtube:hover {
  width: 600px;
  height: 70px;
}

.twitch {
  margin-bottom: 28px;
  transition: width 0.6s, height 0.6s;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 50%;
  background-color: #6441a5;
  width: 480px;
  height: 70px;
}

.twitch:hover {
  width: 600px;
  height: 70px;
}

.twitter {
  margin-bottom: 28px;
  transition: width 0.6s, height 0.6s;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 50%;
  background-color: #1DA1F2;
  width: 480px;
  height: 70px;
}

.twitter:hover {
  width: 600px;
  height: 70px;
}

.discord {
  margin-bottom: 28px;
  transition: width 0.6s, height 0.6s;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 50%;
  background-color: #7289da;
  width: 480px;
  height: 70px;
}

.discord:hover {
  width: 600px;
  height: 70px;
}
a:link {
  text-decoration: none;
}